@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-serif;
}
body{
background-image: url(Asset/portrait-asian-waitress-with-apron-staff-wearing-protection-rubber-glove-face-mask-protection-hand-hold-cleaning-towel-alcohol-spray-disinfectant-protect-infection-coronavirus-health-ideas.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
padding: 0 10px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: black;
}

.navbar a{
    position: relative;
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after{
    transform: translateY(0);
    opacity: 1;
}

.search-bar{
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #e4e4e4;
    padding-left: 10px;
}

.search-bar input::placeholder{
    color: #e4e4e4;
}

.search-bar button {
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-bar button i {
    font-size: 22px;
    color: #e4e4e4;
}

.Title {
    color: whitesmoke;
    font-size: xx-large; 
    font-weight: 600;
    left: 142px;
    letter-spacing: 0;
    line-height: normal;
    position: fixed;
    top: 177px;
    z-index: 6;
}

.Lanjutan title{
    color: whitesmoke;
    font-size: xx-large;
    font-weight: 600;
    left: 142px;
    letter-spacing: 0;
    line-height: normal;
    position: fixed;
    top: 277px;
    width: 829px;
    z-index: 7;
}

.Title2{
    position: absolute;
width: 829px;
height: 116px;
left: 142px;
top: 225px;

font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 58px;

color: #FFFFFF;
}

