.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-laman-paket-pemesanan {
  width: 100%;
  height: 1024px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.page-image12011671 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 1024px;
  position: absolute;
}
.page-rectangle16 {
  top: 18px;
  left: 1240px;
  width: 176px;
  height: 54px;
  position: absolute;
}
.page-download41 {
  top: 634px;
  left: 743px;
  width: 275px;
  height: 183px;
  position: absolute;
}
.page-image3drendermodernofficeinterior1 {
  top: 94px;
  left: 0px;
  width: 1440px;
  height: 930px;
  position: absolute;
}
.page-group46 {
  top: 23px;
  left: 1113px;
  width: 270px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(224, 144, 24, 1);
}
.page-text {
  top: 12px;
  left: 26px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-rectangle20 {
  top: 83px;
  left: 0px;
  width: 1440px;
  height: 941px;
  position: absolute;
}
.page-group43 {
  top: 463px;
  left: 142px;
  width: 259px;
  height: 421px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-download31 {
  top: 38px;
  left: 0px;
  width: 259px;
  height: 383px;
  opacity: 0.55;
  position: absolute;
}
.page-rectangle27 {
  top: 38px;
  left: 0px;
  width: 259px;
  height: 383px;
  position: absolute;
}
.page-text02 {
  left: 67px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text04 {
  top: 178px;
  left: 142px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text06 {
  top: 278px;
  left: 142px;
  color: rgba(255, 255, 255, 1);
  width: 829px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-group42 {
  top: 463px;
  left: 441px;
  width: 259px;
  height: 421px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-ilustrasirumahminimalisdokfreepik1691 {
  top: 38px;
  left: 0px;
  width: 259px;
  height: 383px;
  position: absolute;
}
.page-rectangle26 {
  top: 38px;
  left: 0px;
  width: 259px;
  height: 383px;
  position: absolute;
}
.page-text08 {
  left: 79px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-group41 {
  top: 463px;
  left: 743px;
  width: 259px;
  height: 421px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-download42 {
  top: 38px;
  left: 0px;
  width: 259px;
  height: 383px;
  position: absolute;
}
.page-rectangle25 {
  top: 38px;
  left: 0px;
  width: 259px;
  height: 383px;
  position: absolute;
}
.page-text10 {
  left: 69px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-group40 {
  top: 453px;
  left: 1061px;
  width: 259px;
  height: 431px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-modernofficespaceinterior1 {
  top: 49px;
  left: 0px;
  width: 259px;
  height: 382px;
  position: absolute;
}
.page-rectangle24 {
  top: 48px;
  left: 0px;
  width: 259px;
  height: 383px;
  position: absolute;
}
.page-text12 {
  left: 91px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-group70 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 94px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(29, 29, 29, 1);
}
.page-group2 {
  top: 35px;
  left: 764px;
  width: 54px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-text14 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-group3 {
  top: 35px;
  left: 684px;
  width: 57px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-text16 {
  color: rgba(250, 254, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text18 {
  top: 35px;
  left: 872px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-text20 {
  top: 35px;
  left: 971px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-group47 {
  top: 23px;
  left: 1113px;
  width: 270px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(224, 144, 24, 1);
}
.page-text22 {
  top: 12px;
  left: 26px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.page-group1 {
  top: 0px;
  left: 0px;
  width: 128.0319061279297px;
  height: 83px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-group11 {
  top: 0px;
  left: 0px;
  width: 128.0319061279297px;
  height: 83px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.page-whats-app-image20230225at12512 {
  top: 0px;
  left: 0px;
  width: 128px;
  height: 83px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
